
body{
  background: url(imgs/bg.jpg) repeat;

}

.masthead{

}

.container{

  width: 960px;
  margin: auto;
}

.go {
  text-align:right;
}

.tabulator{

  /* display: none; */
}

.sidebar{
  background: url(imgs/bg-dark.png) repeat;
  width: 20%;
  float:right;
  height: 100%
  display:block;

}

.content{
  float:left;
  width: 80%;
  display: block;
}

.table{
  height: 300px;
  display: block;
  background-color: white;
  margin-bottom: 5px;
  padding: 20px 0px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

}
.components{
  height: 400px;
  display: block;
  background: url(imgs/bg-dark.png) repeat;

}
